{% load static %}
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="{% static 'assets/images/equipz.png' %}" type="image/x-icon">
  <meta name="description" content="Welcome to Neon Wholesale Management System a cutting-edge solution revolutionizing business management with comprehensive features for stock management, billing processes, and customer communication.">
  <title>Neon Wholesale Management System</title>
  <link rel="stylesheet" href="https://r.mobirisesite.com/470044/assets/web/assets/mobirise-icons2/mobirise2.css?rnd=1716798588533">
  <link rel="stylesheet" href="https://r.mobirisesite.com/470044/assets/bootstrap/css/bootstrap.min.css?rnd=1716798588533">
  <link rel="stylesheet" href="https://r.mobirisesite.com/470044/assets/bootstrap/css/bootstrap-grid.min.css?rnd=1716798588533">
  <link rel="stylesheet" href="https://r.mobirisesite.com/470044/assets/bootstrap/css/bootstrap-reboot.min.css?rnd=1716798588533">
  <link rel="stylesheet" href="https://r.mobirisesite.com/470044/assets/dropdown/css/style.css?rnd=1716798588533">
  <link rel="stylesheet" href="https://r.mobirisesite.com/470044/assets/socicon/css/styles.css?rnd=1716798588533">
  <link rel="stylesheet" href="https://r.mobirisesite.com/470044/assets/theme/css/style.css?rnd=1716798588533">
  <link rel="preload" href="https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@400;700&display=swap&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@400;700&display=swap&display=swap"></noscript>
  <link rel="stylesheet" href="https://r.mobirisesite.com/470044/assets/css/mbr-additional.css?rnd=1716798588533" type="text/css">
</head>
<body>
  
  <section data-bs-version="5.1" class="menu menu2 cid-udXwPBKuYu" once="menu" id="menu-5-udXwPBKuYu">
	<nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
		<div class="container">
			<div class="navbar-brand">
				<span class="navbar-logo">
					<a href="">
					</a>
				</span>
				<span class="navbar-caption-wrap"><div contenteditable="true" style="position: absolute; left: -100000px; opacity: 0;"></div><a class="navbar-caption text-black display-4" href="">Neon Wholesale Management System</a></span>
			</div>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<div class="hamburger">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item">
					</li>
					<li class="nav-item">
						<div contenteditable="true" style="position: absolute; left: -100000px; opacity: 0;"></div><a class="nav-link link text-black display-4" href="#features" aria-expanded="false">Features</a>
					</li>
					<li class="nav-item">
						<div contenteditable="true" style="position: absolute; left: -100000px; opacity: 0;"></div><a class="nav-link link text-black display-4" href="#contact-form">Contact</a>
					</li></ul>
				
				<div class="navbar-buttons mbr-section-btn"><div contenteditable="true" style="position: absolute; left: -100000px; opacity: 0;"></div><a class="btn btn-primary display-4" href="{% url 'signup_user' %}">Get Started</a></div>
			</div>
		</div>
	</nav>
</section>

<section data-bs-version="5.1" class="header18 cid-udXwPBLg5o mbr-fullscreen" data-bg-video="https://www.youtube.com/embed/cR1FyHv_rJE?autoplay=1&amp;loop=1&amp;playlist=cR1FyHv_rJE&amp;t=20&amp;mute=1&amp;playsinline=1&amp;controls=0&amp;showinfo=0&amp;autohide=1&amp;allowfullscreen=true&amp;mode=transparent" id="hero-15-udXwPBLg5o">
  <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(0, 0, 0);"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="content-wrap col-12 col-md-12">
        <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-4 display-1">
          <strong>Digital Ally</strong>
        </h1>
        
        <p class="mbr-fonts-style mbr-text mbr-white mb-4 display-7">Empower Your Business with Neon Wholesale Management System  Management System - The Ultimate Solution for Stock Management and Billing</p>
        <div class="mbr-section-btn">
          <a class="btn btn-white-outline display-7" href="#explore-now">Explore Now</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="article05 cid-udXwPBLRa9" id="about-us-5-udXwPBLRa9">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-12">
        <div class="card-wrapper">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-5 image-wrapper">
              <img class="w-100" src="{% static 'assets/images/unleash.png' %}" alt="Neon Wholesale Management System  Management System">
            </div>
            <div class="col-12 col-lg col-md-12">
              <div class="text-wrapper align-left">
                <h1 class="mbr-section-title mbr-fonts-style mb-4 display-2">
                  <strong>Unleash Your Potential</strong>
                </h1>
                <p class="mbr-text mbr-fonts-style mb-3 display-7">Welcome to Neon Wholesale Management System  Management System, the game-changer in business management solutions. Our cutting-edge software is here to transform the way you handle your operations.</p>
                <p class="mbr-text mbr-fonts-style mb-3 display-7">Neon Wholesale Management System  Management System is not just a tool; it's a strategic partner that understands your industry's challenges and provides tailored solutions for your success.</p>
                <p class="mbr-text mbr-fonts-style display-7">Experience the power of innovation and efficiency with Neon Wholesale Management System  Management System, your gateway to streamlined processes and enhanced productivity.</p>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="slider4 mbr-embla cid-udXwPBM3e5" id="gallery-5-udXwPBM3e5">
  <div class="container-fluid" id="explore-now">
    <div class="row mb-5 justify-content-center">
      <div class="col-12 content-head">
        <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
          <strong>Explore Neon Wholesale Management System  Management System</strong>
        </h3>
        
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="embla position-relative" data-skip-snaps="true" data-align="center" data-contain-scroll="trimSnaps" data-loop="true" data-auto-play="true" data-auto-play-interval="2" data-draggable="true">
          <div class="embla__viewport">
            <div class="embla__container">
              <div class="embla__slide slider-image item" style="margin-left: 1rem; margin-right: 1rem;">
                <div class="slide-content">
                  <div class="item-img">
                    <div class="item-wrapper">
                      <img src="{% static 'assets/images/photo-1488590528505-98d2b5aba04b.jpeg' %}" alt="Neon Wholesale Management System  Management System" title="">
                    </div>
                  </div>
                </div>
              </div>
              <div class="embla__slide slider-image item" style="margin-left: 1rem; margin-right: 1rem;">
                <div class="slide-content">
                  <div class="item-img">
                    <div class="item-wrapper">
                      <img src="{% static 'assets/images/photo-1478432780021-b8d273730d8c.jpeg' %}" alt="Neon Wholesale Management System  Management System" title="">
                    </div>
                  </div>
                </div>
              </div>
              <div class="embla__slide slider-image item" style="margin-left: 1rem; margin-right: 1rem;">
                <div class="slide-content">
                  <div class="item-img">
                    <div class="item-wrapper">
                      <img src="{% static 'assets/images/photo-1496065187959-7f07b8353c55.jpeg' %}" alt="Neon Wholesale Management System  Management System" title="">
                    </div>
                  </div>
                </div>
              </div>
              <div class="embla__slide slider-image item" style="margin-left: 1rem; margin-right: 1rem;">
                <div class="slide-content">
                  <div class="item-img">
                    <div class="item-wrapper">
                      <img src="{% static 'assets/images/photo-1605810230434-7631ac76ec81.jpeg' %}" alt="Neon Wholesale Management System  Management System" title="">
                    </div>
                  </div>
                </div>
              </div>
              <div class="embla__slide slider-image item" style="margin-left: 1rem; margin-right: 1rem;">
                <div class="slide-content">
                  <div class="item-img">
                    <div class="item-wrapper">
                      <img src="{% static 'assets/images/photo-1485827404703-89b55fcc595e.jpeg' %}" alt="Neon Wholesale Management System  Management System" title="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="embla__button embla__button--prev">
            <span class="mobi-mbri mobi-mbri-arrow-prev" aria-hidden="true"></span>
            <span class="sr-only visually-hidden visually-hidden">Previous</span>
          </button>
          <button class="embla__button embla__button--next">
            <span class="mobi-mbri mobi-mbri-arrow-next" aria-hidden="true"></span>
            <span class="sr-only visually-hidden visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="features38 cid-udXwPBNhjo" id="features-67-udXwPBNhjo">
   <div class="container" id="features">
        <div class="col-12 mb-5 content-head">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>Features</strong>
            </h3>
            
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-12 col-lg">
                <div class="text-wrapper align-left">
                    <h1 class="mbr-section-title mbr-fonts-style mb-4 display-2">
                        <strong>Efficient Stock Management</strong>
                    </h1>
                    <p class="mbr-text align-left mbr-fonts-style mb-4 display-7">Simplify inventory tracking and control with our intuitive stock management feature, ensuring you never run out of essential items.</p>
                    <div class="mbr-section-btn align-left mt-3">
                        <a class="btn btn-primary display-7" href="{% url 'signup_user' %}">Get Started</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-6 image-wrapper">
                <img class="w-100" src="{% static 'assets/images/photo-1483478550801-ceba5fe50e8e.jpeg' %}" alt="Neon Wholesale Management System  Management System">
            </div>
        </div>
        <div class="row row-reverse justify-content-center">
            <div class="col-12 col-md-12 col-lg">
                <div class="text-wrapper align-left">
                    <h1 class="mbr-section-title mbr-fonts-style mb-4 display-2">
                        <strong>Seamless Billing Processes</strong>
                    </h1>
                    <p class="mbr-text align-left mbr-fonts-style mb-4 display-7">Experience hassle-free billing with our seamless processes that save you time and effort, allowing you to focus on growing your business.</p>
                    <div class="mbr-section-btn align-left mt-3">
                    <a class="btn btn-primary display-7" href="{% url 'signup_user' %}">Get Started</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-6 image-wrapper">
                <img class="w-100" src="{% static 'assets/images/photo-1483478550801-ceba5fe50e8e.jpeg' %}" alt="Neon Wholesale Management System  Management System">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-12 col-lg">
                <div class="text-wrapper align-left">
                    <h1 class="mbr-section-title mbr-fonts-style mb-4 display-2">
                        <strong>Enhanced Customer Communication</strong>
                    </h1>
                    <p class="mbr-text align-left mbr-fonts-style mb-4 display-7">Build strong customer relationships through personalized communication tools, enhancing customer satisfaction and loyalty.</p>
                    <div class="mbr-section-btn align-left mt-3">
                    <a class="btn btn-primary display-7" href="{% url 'signup_user' %}">Get Started</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-6 image-wrapper">
              <img class="w-100" src="{% static 'assets/images/photo-1483478550801-ceba5fe50e8e.jpeg' %}" alt="Neon Wholesale Management System  Management System">
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="list05 cid-udXwPBODnb" id="faq-3-udXwPBODnb">
    <div class="container">
        <div class="col-12 mb-5 content-head">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>FAQs</strong>
            </h3>
            
        </div>
        <div class="row justify-content-center ">
            <div class="col-12 col-lg-8">
                <div class="item features-without-image col-12 active">
                    <div class="item-wrapper">
                        <h5 class="mbr-card-title mbr-fonts-style mt-0 mb-3 display-5">
                            <strong>Is Neon Wholesale Management System easy to use?</strong></h5>
                        <p class="mbr-text mbr-fonts-style mt-0 mb-3 display-7">Absolutely! Neon Wholesale Management System  Management System is designed for user-friendliness, with intuitive features for seamless navigation.</p>
                    </div>
                </div>
                <div class="item features-without-image col-12">
                    <div class="item-wrapper">
                        <h5 class="mbr-card-title mbr-fonts-style mt-0 mb-3 display-5">
                            <strong>Can Neon Wholesale Management System handle large inventories?</strong></h5>
                        <p class="mbr-text mbr-fonts-style mt-0 mb-3 display-7">Yes,Neon Wholesale Management System  is equipped to manage large inventories efficiently, ensuring smooth stock control.</p>
                    </div>
                </div>
                <div class="item features-without-image col-12">
                    <div class="item-wrapper">
                        <h5 class="mbr-card-title mbr-fonts-style mt-0 mb-3 display-5">
                            <strong>Is customer support available 24/7?</strong></h5>
                        <p class="mbr-text mbr-fonts-style mt-0 mb-3 display-7">Indeed! Our dedicated support team is available round the clock to assist you with any queries or issues.</p>
                    </div>
                </div>
                <div class="item features-without-image col-12">
                  <div class="item-wrapper">
                      <h5 class="mbr-card-title mbr-fonts-style mt-0 mb-3 display-5">
                          <strong>Does Neon Wholesale Management System  integrate with other systems?</strong></h5>
                      <p class="mbr-text mbr-fonts-style mt-0 mb-3 display-7">Certainly! Neon Wholesale Management System  seamlessly integrates with various systems to streamline your business processes.</p>
                  </div>
              </div>
              <div class="item features-without-image col-12">
                <div class="item-wrapper">
                    <h5 class="mbr-card-title mbr-fonts-style mt-0 mb-3 display-5">
                        <strong>Is Neon Wholesale Management System  customizable to specific needs?</strong></h5>
                    <p class="mbr-text mbr-fonts-style mt-0 mb-3 display-7">Absolutely! Neon Wholesale Management System  can be tailored to meet your unique business requirements, providing a personalized experience.</p>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>

<!-- <section data-bs-version="5.1" class="people03 cid-udXwPBOe4l" id="team-1-udXwPBOe4l">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 content-head">
                <div class="mbr-section-head mb-5">
                    <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                        <strong>Meet Us</strong>
                    </h4>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="item features-image col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img mb-3">
                      <img src="{% static 'assets/images/avatar.png' %}" alt="Neon Wholesale Management System  Management System" title="">
                    </div>
                    <div class="item-content align-left">
                        <h5 class="item-title mbr-fonts-style display-5">
                            <strong>Chris</strong>
                        </h5>
                        <h6 class="item-subtitle mbr-fonts-style mb-3 display-7">Founder &amp; CEO</h6>
                        
                    </div>
                    
                </div>
            </div>
            <div class="item features-image col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img mb-3">
                        <img src="{% static 'assets/images/avatar.png' %}" alt="Neon Wholesale Management System  Management System" title="">
                    </div>
                    <div class="item-content align-left">
                        <h5 class="item-title mbr-fonts-style display-5">
                            <strong>Boni</strong>
                        </h5>
                        <h6 class="item-subtitle mbr-fonts-style mb-3 display-7">Lead Developer</h6>
                        
                    </div>
                    
                </div>
            </div>
            <div class="item features-image col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img mb-3">
                        <img src="{% static 'assets/images/avatar.png' %}" alt="Neon Wholesale Management System  Management System" title="">
                    </div>
                    <div class="item-content align-left">
                        <h5 class="item-title mbr-fonts-style display-5">
                            <strong>AWS</strong>
                        </h5>
                        <h6 class="item-subtitle mbr-fonts-style mb-3 display-7">Marketing Guru</h6>
                        
                    </div>
                    
                </div>
            </div>
            <div class="item features-image col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img mb-3">
                       <img src="{% static 'assets/images/femaleavatar.png' %}" alt="Neon Wholesale Management System  Management System" title="" data-slide-to="3" data-bs-slide-to="3">
                    </div>
                    <div class="item-content align-left">
                        <h5 class="item-title mbr-fonts-style display-5">
                            <strong>AWS</strong>
                        </h5>
                        <h6 class="item-subtitle mbr-fonts-style mb-3 display-7">Customer Success Manager</h6>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section> -->

<section data-bs-version="5.1" class="social05 cid-udXwPBPDOU" id="follow-us-2-udXwPBPDOU">
    <div class="container">
        <div class="row">
            <h3 class="mbr-section-title align-center mb-5 mbr-fonts-style display-2">
                <strong>Connect with Us</strong>
            </h3>
            <div class="col-12">
                <div class="social-row">
                    <div class="soc-item">
                        <a href="" target="_blank">
                            <span class="mbr-iconfont socicon socicon-facebook"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="" target="_blank">
                            <span class="mbr-iconfont socicon-twitter socicon"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="" target="_blank">
                            <span class="mbr-iconfont socicon-instagram socicon"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="" target="_blank">
                            <span class="mbr-iconfont socicon socicon-linkedin"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="form5 cid-udXwPBPTQd" id="contact-form-3-udXwPBPTQd">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 content-head">
                <div class="mbr-section-head mb-5">
                    <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                        <strong>Get in Touch Now!</strong>
                    </h3>
                    
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                <form action="https://formspree.io/f/xayrzvla" method="POST" id="contact-form" class="mbr-form form-with-styler" data-form-title="Form Name">
                    <input type="hidden" name="email" data-form-email="true">
                    <div class="row">
                        <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling out the form!</div>
                        <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
                            Oops...! Seems there is an issue!
                        </div>
                    </div>
                    <div class="dragArea row">
                        <div class="col-md col-sm-12 form-group mb-3" data-for="name">
                            <input type="text" name="name" placeholder="Name" data-form-field="name" class="form-control" value="" id="name-contact-form-3-udXwPBPTQd">
                        </div>
                        <div class="col-md col-sm-12 form-group mb-3" data-for="email">
                            <input type="email" name="email" placeholder="Email" data-form-field="email" class="form-control" value="" id="email-contact-form-3-udXwPBPTQd">
                        </div>
                        <div class="col-12 form-group mb-3 mb-3" data-for="phone">
                            <input type="tel" name="phone" placeholder="Phone Number" data-form-field="phone" class="form-control" value="" id="url-contact-form-3-udXwPBPTQd">
                        </div>
                        <div class="col-12 form-group mb-3" data-for="textarea">
                            <textarea name="textarea" placeholder="Message" data-form-field="textarea" class="form-control" id="textarea-contact-form-3-udXwPBPTQd"></textarea>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn">
                            <button type="submit" class="btn btn-primary display-7" onclick="submitForm()">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="contacts01 cid-udXwPBPP5H" id="contacts-1-udXwPBPP5H">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 content-head">
                <div class="mbr-section-head mb-5">
                    <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                        <strong>Contact Us</strong>
                    </h3>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="item features-without-image col-12 col-md-6 active">
                <div class="item-wrapper">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-3 display-5">
                            <strong>Phone</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style display-7">
                            <a href="tel:+1-800-123-4567" class="text-black">+254 788641249</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item features-without-image col-12 col-md-6">
                <div class="item-wrapper">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-3 display-5">
                            <strong>Email</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style display-7">
                            <a href="mailto:neonwholesalemanagement@gmail.com" class="text-black">neonwholesalemanagement@gmail.com</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item features-without-image col-12 col-md-6">
                <div class="item-wrapper">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-3 display-5">
                            <strong>Address</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style display-7">Neon Wholesale Avenue, Nairobi, Kenya</p>
                    </div>
                </div>
            </div>
            <div class="item features-without-image col-12 col-md-6">
                <div class="item-wrapper">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-3 display-5">
                            <strong>Working Hours</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style display-7">Mon-Fri: 9am-6pm</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="footer3 cid-udXwPBPav6" once="footers" id="footer-6-udXwPBPav6">
    <div class="container">
        <div class="row">
            <div class="row-links">
                <ul class="header-menu">
                  <li class="header-menu-item mbr-fonts-style display-5">
                    <a href="" class="text-white">Home</a>
                  </li><li class="header-menu-item mbr-fonts-style display-5">
                    <a href="" class="text-white">About</a>
                  </li><li class="header-menu-item mbr-fonts-style display-5">
                    <a href="#features" class="text-white">Features</a>
                  </li><li class="header-menu-item mbr-fonts-style display-5">
                    <a href="#contact-form" class="text-white">Contact</a>
                  </li></ul>
              </div>
            <div class="col-12 mt-4">
                <p class="mbr-fonts-style copyright display-7">© 2024 Neon Wholesale Management System  Management System. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</section>

<script>
    function submitForm() {
        document.getElementById("contact-form").submit();
        document.getElementById("name-contact-form-3-udXwPBPTQd").value = "";
        document.getElementById("email-contact-form-3-udXwPBPTQd").value = "";
        document.getElementById("url-contact-form-3-udXwPBPTQd").value = "";
        document.getElementById("textarea-contact-form-3-udXwPBPTQd").value = "";
        setTimeout(function() {
            location.reload();
        }, 1000); 
    }
</script>
<script src="{% static 'assets/web/assets/jquery/jquery.min.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/smoothscroll/smooth-scroll.js' %}"></script>
<script src="{% static 'assets/ytplayer/index.js' %}"></script>
<script src="{% static 'assets/dropdown/js/navbar-dropdown.js' %}"></script>
<script src="{% static 'assets/vimeoplayer/player.js' %}"></script>
<script src="{% static 'assets/embla/embla.min.js' %}"></script>
<script src="{% static 'assets/embla/script.js' %}"></script>
<script src="{% static 'assets/theme/js/script.js' %}"></script>
<script src="{% static 'assets/formoid/formoid.min.js' %}"></script>

</body>
</html>