{% extends "base.html" %}

{% block body %}
    <div class="content-wrapper">
    {% include 'message.html' %}

    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card bg-light mb-3" >
                <div class="card-body">
                    <h4 class="card-title">Update Product</h4>
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary btn-md">Update</button>
                        <a href="{% url 'viewproduct' %}" class="btn btn-md">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock body %}